header#page-header
  .banner-carousel
    
    .banner-slide(style=`background-image: url(${require("../assets/images/heroes/boots.webp")});`)
    .banner-slide(style=`background-image: url(${require("../assets/images/heroes/gas.webp")});`)
    .banner-slide(style=`background-image: url(${require("../assets/images/heroes/blower.webp")});`)
    .banner-slide(style=`background-image: url(${require("../assets/images/heroes/trunk.webp")});`)

    //- .banner-slide(style=`--background: url(${require("../assets/images/eevee.webp")})`)
    //- .banner-slide(style=`--background: url(${require("../assets/images/hero-road-crunch.png")})`)
    //- .banner-slide(style=`--background: url(${require("../assets/images/cartridges.webp")})`)

  .centered-header
    h1 ARC YARD WORK
    p #[em We rake leaves so you don't have to.]
  include navbar